<mdui-divider></mdui-divider>
<p class="mdui-prose" style="padding: 16px;">
    由<a href="https://github.com/Box3TRC" target="_blank">Box3TRC</a>提供
    <br>
    <a href="https://github.com/Box3TRC/box3convert" target="_blank">查看源代码</a>
</p>
</mdui-layout-main>
</mdui-layout>
<script src="https://www.tobylai.fun/js/prism.js"></script>