<head>
    <title>
        Box3Convert[Box3TRC] - <%if(title){%><%=title%><%}%>
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="shortcut icon" href="https://c.tobylai.fun/avatar.png">
    <link rel='stylesheet' href='https://c.tobylai.fun/css/mdui_2.0.3/mdui.css' />
    <script src="https://c.tobylai.fun/css/mdui_2.0.3/mdui.global.js"></script>
    <link rel="stylesheet" href="https://c.tobylai.fun/css/font-material-icon-filled/MaterialIconFilled.css">
    <link rel="stylesheet" href="https://c.tobylai.fun/css/site.css">
    <style>
        /*禁用mdui对code的样式，因为它干扰了prism.js*/
        .mdui-prose pre code {
            background-color: transparent;
            padding: 0px 0px;
        }
    </style>
    <link rel="stylesheet" href="https://c.tobylai.fun/css/prism.css">
    <script>
        mdui.setColorScheme("#4fd8eb")
    </script>
</head>