<!DOCTYPE html>
<html class="mdui-theme-dark" lang="zh-CN">
    <%-include("_head",{title})%>
    <body>
        <%include _topbar%>
            <div style="padding: 16px;">
                <div class="mdui-prose">
                    <h1>Box3Convert</h1>
                    <p>这是一个执行box3各类转换的在线工具</p>
                    <br>目前包含：
                    <ul>
                        <li>vox模型转建筑</li>
                        <li>建筑转vox模型</li>
                        <li>岛三俯视图转换工具</li>
                    </ul>
                </div>
            </div>
            <%include _footer%>
    </body>

</html>